# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
client_secret_515295568216-5ji6d2e9enoi4ek6acmghp9p6krpg8sd.apps.googleusercontent.com (1).json
server/invoic-ia-firebase-adminsdk-1zi97-3b9fa29923.json
notes.txt
server/venv
document.docx